@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');

body {
    /*background: #457fca;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000);  */
    
    /* background: #C04848;  
    background: -webkit-linear-gradient(to right, #480048, #C04848);  
    background: linear-gradient(to right, #480048, #C04848);  */

    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-dark{
    /* background-color: #2a44b5; */
    font-family: 'Bitter', serif;
}

.card {
    /*background-color: #007291;*/
    background-color: #37a9de;
    border-color: black;  
    color: black;
}

/* #forms {
    background-color: #37a9de;
} */

/* .card-header {
    background-color: #28536B;
}

.card-body {
    background-color: #28536B;
}

.card-footer {
    background-color: #28536B;
}  */

.btn.btn-secondary {
    background-color: green;
    border-color: white;
    height: 40px;
}

.btn.btn-secondary:hover{
    filter: brightness(0.75);
}

.btn.btn-danger {
    border-color: white;
}

.btn.btn-danger:hover{
    filter: brightness(0.75);
}

.d-inline-block.align-top {
    margin-right: 0.5em;
}